@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("//fonts.googleapis.com/css?family=Inconsolata:700");

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'S-CoreDream-3Light';
}

ul,
li,
ol {
  list-style: none;
}

body {
  height: 100vh;
  place-items: center;
  display: block;
  position: relative;
}

#wrap {
  width: 100%;
  overflow: hidden;
}

:root {
  --color: pink;
  --blur-1-size: clamp(400px, 60vw, 60vw);
  --blur-2-size: clamp(300px, 40vw, 40vw);
  --blur-3-size: clamp(100px, 10vw, 10vw);
  --blur-amount: clamp(40px, 5vw, 90px);
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

.blur {
  position: absolute;
  z-index: 0;
  border-radius: 900px;
  filter: blur(var(--blur-amount));
  background: var(--color);
}

.blur:nth-child(1) {
  height: var(--blur-1-size);
  width: calc(var(--blur-1-size) * 1.1);
}

.blur:nth-child(2) {
  filter: blur(var(--blur-amount)) hue-rotate(135deg) brightness(1.3);
  height: var(--blur-2-size);
  width: calc(var(--blur-2-size) * 0.75);
  top: 20vh;
  right: 20vh;
}

.blur:nth-child(3) {
  filter: blur(var(--blur-amount)) hue-rotate(-135deg);
  height: var(--blur-3-size);
  width: calc(var(--blur-3-size) * 2);
  bottom: 20vh;
  left: 20vw;
}

body {
  font-family: Termina, sans-serif;
  -webkit-font-smoothing: antialiased;
}

section {
  width: 100%;
  padding: 0;
  height: 100vh;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: normal;
}

.random_box {
  width: 100%;
  height: 500px;
  z-index: 25;
  position: relative;
  display: flex;
  align-items: center;
}

h1.random {
  font-family: Inconsolata, source code pro, consolas, monospace;
  margin-left: 50%;
  transform: translateX(-6em);
  font-size: 4.5rem;
  font-weight: bold;
  z-index: 30;
  color: #292929;
  position: absolute;
  white-space: nowrap;
}

.credit {
  position: relative;
  margin-top: 3rem;
  width: 100%;
  text-align: center;
  z-index: 2;

  a {
    color: #222;
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.main_h1 {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 700;
  margin: 0px;
  padding: 20px;
  text-align: center;
  z-index: 20;
  font-size: 4.5rem;
}

.main_h1 > .magic {
  display: inline-block;
  position: relative;
}

.main_h1 > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

.main_h1 > .magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

.main_h1 > .magic > .magic-star > svg > path {
  fill: var(--violet);
}

.main_h1 > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

#source-link {
  top: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link {
  top: 10px;
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 600ms, border-color 600ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: rgb(226, 232, 238);
  font-family: "Rubik", sans-serif;
  transition: color 600ms;
}

.flex_container {
  display: flex;
  flex-flow: row wrap;
  height: 100vh !important;
  margin: 0;
  position: relative;
}

.flex_container:first-of-type {
  margin-top: 0;
}

/* .flex_container h2 {
  font: 10vh Helvetica;
  letter-spacing: 2px;
  color: #fff;
} */

/* nav */
.nav {
  position: fixed;
  backface-visibility: hidden;
  top: 0;
  width: 100%;
  z-index: 35;
  height: 60px;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #fff;
  height: 100%;
}

.nav__list .air_line {
  width: 100%;
  height: 5px;
  background: #B29CD9;
  border-radius: 0;
  box-shadow: 0 -4px 10px rgba(241, 99, 41, 0.25);
  left: 0;
  position: absolute;
  transition: 0.2s;
  transform: scaleX(0);
}

.nav__list a {
  font: 17px Helvetica;
  padding: 0 10vh;
  color: #333;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 52px;
  width: 100%;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.nav__list a span {
  display: table-cell;
  vertical-align: middle;
}

.current_items {
  width: 100%;
  margin: auto;
  transition: 0.4s;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.current_items .item {
  float: left;
  width: 20%;
  padding: 10px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin: 0 10px;
}

.current_items .item img {
  display: block;
  width: 100%;
}

.mouse {
  position: absolute;
  bottom: 5%;
  z-index: 30;
  animation: bounce 0.8s infinite;
}

.mouse img {
  width: 70px;
  height: 70px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);  /* 시작 위치 */
  }
  50% {
    transform: translateY(-10px);  /* 위로 튕길 때 */
  }
  100% {
    transform: translateY(0);  /* 원래 위치로 돌아옴 */
  }
}


.container {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.11);
}

.container-left {
  position: absolute;
  width: 40%;
  height: 100vh;

}

.container-right {
  position: absolute;
  width: 60%;
  height: 100vh;
  left: 40%;
  background-size: 110%;
  animation: animatedBackground1 6s cubic-bezier(0.19, 1, 0.22, 1);
  animation-delay: 5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes animatedBackground1 {
  from {
      background-size: 460%;
  }
  to {
      background-size: 110%;
  }
}

.container-left-img {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
 width: 400px;
  height: 500px;
  background: url(https://github.com/thdudws/pubPort/blob/main/img/rabbit.png?raw=true) no-repeat 50% 50%;
  background-size: 130%;
  animation: animatedBackground2 3s cubic-bezier(0.19, 1, 0.22, 1);
  animation-delay: 7s;
}

@keyframes animatedBackground2 {
  from {
      background-size: 100%;
  }
  to {
      background-size: 130%;
  }
}
.left-img-cap {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "Arial";
  text-transform: uppercase;
  color: rgb(73, 73, 73);
  line-height: 28px;
  font-size: 20px;
}

.left-img-cap span {
  font-style: italic;
}

.left-img-btn {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Cinzel";
  background: #8f8776;
}

.left-bottom-text {
  position: absolute;
  color: grey;
  font-size: 48px;
  font-family: "Cinzel";
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px;
  bottom: 0;
  right: 0;
}

.right-upper-text {
  position: absolute;
  color: red;
  font-size: 48px;
  font-family: "Arial";
  text-transform: uppercase;
  font-weight: lighter;
  padding: 18px;
  opacity: 0;
  animation: blinker 1s linear infinite;
  animation-delay: 10s;
}

@keyframes blinker {
  50% {
      opacity: 1;
  }
}

.right-upper-text span {
  font-style: italic;
}

.right-bottom-text {
  position: absolute;
  color: white;
  font-size: 48px;
  font-family: "Arial";
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 26px;
  bottom: 0;
}

@media (max-width: 990px) {
  .container-left,
  .container-right {
      width: 100%;
      height: 100vh;
  }

  .container-right {
      top: 100vh;
      left: 0;
  }

  .left-img-btn,
  .social-media {
      display: none;
  }
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  z-index: 2;
  overflow: hidden;
  padding-top: 5%;
}

.loader marquee {
  opacity: 0.2;
  text-transform: uppercase;
  line-height: 15rem;
  margin: 0;
  padding: 0;
  color: #a79d99;
  font-size: 15rem;
  font-family: "Cinzel";
}

.loader .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader .intro h1 {
  font-size: 10rem !important;
  font-weight: 200;
  color: 	#824e8f;
}

.intro-title .letter {
  display: inline-block;
  line-height: 10rem;
}


main {
  width: 75%;
  text-align: center;
  margin-top: 5%;
  background-color: #ffffff47;
  border-radius: 2%;
}

.menu {
  opacity: 0;
  pointer-events: none;
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.menu__item-image_wrapper {
  position: absolute;
  width: 280px;
  height: 450px;
  pointer-events: none;
  opacity: 0;
}

.menu__item-image_inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu__item-image_inner .menu__item-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu__item-text {
  position: relative;
  display: block;
  color: rgb(85, 85, 85);
  font-family: "Krona One";
  font-size: 6rem;
  font-weight: 300;
  padding: 2vh 0;
  opacity: 1;
  transition: opacity 350ms ease;
  mix-blend-mode: normal;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.menu__item-text:hover .menu__item-innertext {
  letter-spacing: 0.425rem;
}

.menu__item-innertext {
  display: inline-block;
  transition: letter-spacing 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 6rem;
}

.menu:hover .menu__item-text {
  opacity: 0.25;
}

.menu:hover .menu__item-text:hover {
  opacity: 0.85;
}

.menu__item:hover .menu__item-text {
  z-index: 10;
  mix-blend-mode: difference;
}

.menu__item:hover .menu__item-image_wrapper {
  z-index: 2;
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}

.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}

.support a:hover {
  transform: scale(1.1);
}
