@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --ease: cubic-bezier(0.29, 0.57, 0.12, 0.99);
  --duration: 0.6s;
  --size: 528px; /* 기본 size 설정 */
  --scaleMask: 1;
  --scaleBtn: 1;
}

@media (max-width: 900px) {
  :root {
    --size: 480px; /* 900px 이하에서 크기 줄이기 */
    --scaleMask: 0.9;
    --scaleBtn: 0.95;
  }
}

@media (max-width: 700px) {
  :root {
    --size: 380px; /* 700px 이하에서 크기 줄이기 */
    --scaleMask: 0.75;
    --scaleBtn: 0.8;
  }
}

@media (max-width: 500px) {
  :root {
    --size: 300px; /* 500px 이하에서 크기 줄이기 */
    --scaleMask: 0.65;
    --scaleBtn: 0.7;
  }
}

.section-2 {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #ffe5eb, #d3d3d3, #f5f5f5);
  backdrop-filter: blur(10px);
}

.container {
  width: 100%;
  height: 100vh;
}

.row {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-md-6 {
  width: 50%;
  height: 94%;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-wrap {
  width: 45%;
}

.card-wrap2 {
  width: 55%;
}

.me_prof {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.me_img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.me_img img {
  width: 70%;
  height: auto;
}

.profile {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  line-height: 35px;
  font-family: "Roboto", serif;
  font-style: normal;
}

.profile p {
    margin-left: 60px;
}

.education {
  width: 100%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: left;
  /* background-color: cadetblue; */
}

.edu_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edu_h3 {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edu_wrap {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  /* 좌우 간격을 일정하게 맞춤 */
}

.edu_l, .edu_r {
  height: 30%;
  flex: 1; /* flex: 1로 균등하게 나눔 */
  display: flex;
  align-items: center; /* 세로 방향으로 가운데 정렬 */
  justify-content: center; /* 수평 방향으로 가운데 정렬 */
  padding: 10px; /* 여백 추가 (선택 사항) */
  line-height: 25px;
}

.edu_l p, .edu_r p {
  text-align: center; /* 텍스트가 가운데 정렬되도록 */
}

.second_r {
  width: 95%;
  height: 90%;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second_r .skils {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease-in-out, visibility 1.5s ease-in-out;
}

.second_r .skils.show {
  opacity: 1;
  visibility: visible;
  z-index: 25;
}

.second_r h1 {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skils {
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.skils h3 {
  height: 10%;
}

.f_skils, .b_skils {
  width: 95%;
  margin-bottom: 20px;
}

.f_skils img {
  width: 13%;
}

.b_skils img {
  width: 13%;
  margin-right: 15px;
}

.tool {
  width: 95%;
}

.tool img {
  width: 13%;
  margin-right: 15px;
}

.f_skils, .tool {
  opacity: 0;
  transform: translateX(-200px); 
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.b_skils {
  opacity: 0;
  transform: translateX(200px); 
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.f_skils.visible, .b_skils.visible, .tool.visible {
  opacity: 1;
  transform: translateX(0);
}


.logos_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.logos_f {
  width: 17%;
  height: 145px;
  overflow: hidden;
}

.logos_b {
  width: 17%;
  height: auto;
}

.logos_f img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.logos_b img {
  width: 100%;
  object-fit: scale-down;
}

.logos_b2 {
  width: 25%;
  height: auto;
}

.logos_b2 img {
  width: 100%;
  object-fit: scale-down;
}

.logos_b3 {
  width: 16%;
  height: auto;
}

.logos_b3 img {
  width: 100%;
  object-fit: scale-down;
}

.card {
  width: 70%;
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.card {
  opacity: 0; /* 초기에는 안 보이도록 설정 */
  transform: scale(0); /* 크기 0으로 설정 */
  transition: all 1s ease; /* 애니메이션 효과 */
}

.card.visible {
  opacity: 1; /* visible 클래스가 추가되면 보이게 설정 */
  transform: scale(1); /* 크기 1로 설정하여 자연스럽게 확대됨 */
}


.card[data-state="#about"] {
  height: 80%;
}

.card[data-state="#contact"] {
  height: 80%;
}

.card[data-state="#experience"] {
  height: 80%;
}

.card.is-active .card-header {
  height: 30%;
}

.card.is-active .card-cover {
  height: 100px;
  top: -50px;
}

.card.is-active .card-avatar {
  transform: none;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.card.is-active .card-fullname,
.card.is-active .card-jobtitle {
  left: 105px;
  transform: none;
}

.card.is-active .card-fullname {
  top: 60%;
  font-size: 19px;
}

.card.is-active .card-jobtitle {
  bottom: 16px;
  letter-spacing: 1px;
  font-size: 10px;
}

.card-header {
  position: relative;
  display: flex;
  height: 45%;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}

.card-header * {
  transition: 0.3s;
}

.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -8%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(35px);
  transform: scale(1.2);
  transition: 0.5s;
}

.card-avatar {
  width: 200px;
  height: 200px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

.card-main {
  width: 85%;
  margin: 0 auto;
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.card-subtitle {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
}

.card-content {
  padding: 20px;
}

.card-desc {
  line-height: 1.6;
  color: #636b6f;
  font-size: 16px;
  margin: 0;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.card-social {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
  position: relative;
}

.card-social svg {
  fill: rgb(165, 181, 206);
  width: 16px;
  display: block;
  transition: 0.3s;
}

.card-social a {
  color: #8797a1;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background-color: rgba(93, 133, 193, 0.05);
  border-radius: 50%;
  margin-right: 10px;
}

.card-social span {
  font-size: 14px;
}

.card-social a:hover svg {
  fill: darken(rgb(165, 181, 206), 20%);
}

.card-social a:last-child {
  margin-right: 0;
}

.github-url {
  display: none; /* 기본적으로 숨기기 */
  position: absolute;
  top: 0;
  left: 10%; /* 이미지 오른쪽에 위치시킴 */
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  white-space: nowrap; /* 주소가 한 줄로 표시되도록 설정 */
}

.social-link:hover .github-url {
  display: block; /* 호버 시 깃허브 주소를 표시 */
}

.card-social  img {
  width: 40px;
  height: 40px;
}

.card-buttons {
  display: flex;
  background-color: #fff;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
}

.card-buttons button {
  flex: 1 1 auto;
  user-select: none;
  background: 0;
  font-size: 13px;
  border: 0;
  padding: 15px 5px;
  cursor: pointer;
  color: #5c5c6d;
  transition: 0.3s;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  outline: 0;
  border-bottom: 3px solid transparent;
}

.card-buttons button.is-active,
.card-buttons button:hover {
  color: #2b2c48;
  border-bottom: 3px solid #8a84ff;
  background: linear-gradient(
    to bottom,
    rgba(127, 199, 231, 0) 0%,
    rgba(207, 204, 255, 0.2) 44%,
    rgba(211, 226, 255, 0.4) 100%
  );
}

.card-section {
  display: none;
}

.card-section.is-active {
  display: block;
  animation: fadeIn 0.6s both;
  margin-top: 40px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(40px);
  }
  100% {
    opacity: 1;
  }
}

.card-timeline {
  margin-top: 30px;
  position: relative;
}

.card-timeline:after {
  background: linear-gradient(
    to top,
    rgba(134, 214, 243, 0) 0%,
    rgba(81, 106, 204, 1) 100%
  );
  content: "";
  left: 42px;
  width: 2px;
  top: 0;
  height: 100%;
  position: absolute;
}

.card-item {
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  z-index: 1;
}

.card-item:last-child {
  padding-bottom: 5px;
}

.card-item:after {
  content: attr(data-year);
  width: 10px;
  position: absolute;
  top: 0;
  left: 37px;
  width: 8px;
  height: 8px;
  line-height: 0.6;
  border: 2px solid #fff;
  font-size: 11px;
  text-indent: -35px;
  border-radius: 50%;
  color: rgba(#868686, 0.7);
  background: linear-gradient(
    to bottom,
    lighten(#516acc, 20%) 0%,
    #516acc 100%
  );
}

.card-item-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-item-desc {
  font-size: 13px;
  color: #6f6f7b;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}

.card-contact-wrapper {
  margin-top: 20px;
}

.card-contact {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #6f6f7b;
  font-family: "DM Sans", sans-serif;
  line-height: 1.6;
  cursor: pointer;
}

.card-contact + .card-contact {
  margin-top: 16px;
}

.card-contact svg {
  flex-shrink: 0;
  width: 30px;
  min-height: 34px;
  margin-right: 12px;
  transition: 0.3s;
  padding-right: 12px;
  border-right: 1px solid #dfe2ec;
}

.contact-me {
  border: 0;
  outline: none;
  background: linear-gradient(
    to right,
    rgba(83, 200, 239, 0.8) 0%,
    rgba(81, 106, 204, 0.8) 96%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 12px 16px;
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: 0.3s;
}

.bounce {
  display: inline-block;
  font-size: 2em;
  white-space: pre-wrap;
  margin-top: 20px;
  color: #ff8b6f;
}

.bounce span {
  display: inline-block;
  animation: bounce 0.6s ease-in-out infinite;
}

.bounce span:nth-child(1) {
  animation-delay: 0s;
}
.bounce span:nth-child(2) {
  animation-delay: 0.15s;
}
.bounce span:nth-child(3) {
  animation-delay: 0.25s;
}
.bounce span:nth-child(4) {
  animation-delay: 0.35s;
}
.bounce span:nth-child(5) {
  animation-delay: 0.45s;
}
.bounce span:nth-child(6) {
  animation-delay: 0.55s;
}

.bounce span:nth-child(7) {
  animation-delay: 0.65s;
}
.bounce span:nth-child(8) {
  animation-delay: 0.75s;
}

.bounce span:nth-child(9) {
  animation-delay: 0.85s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

h2:hover .bounce span {
  animation: bounce 0.5s ease-in-out infinite;
}